{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static "study/mainpage.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height, initial-scale=1">
</head>
<body>
    <h1>Тест по определению учебного заведения</h1>
    <form method="post">
        {% csrf_token %}
        <p>Введите свой адрес электронной почты:<input type="email" required name="email"></p>
        <p><button type="submit">Начать тест</button></p>
    </form>
</body>
</html>
