body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: black;
    font-size: 20px;
    margin-left: 500px;
}
h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 350px;
}
button{
    background: aquamarine;
    font-size: 200px;
    color: darkgreen;
}
