{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Конечная</title>
        <link rel="stylesheet" href="{% static 'study/lastpage.css' %} ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="height=device-height, initial-scale=1">
    </head>
    <body>
    {% block content %}
     <div>
         <button><a href="http://127.0.0.1:8000/main">На главную</a></button>
     </div>

    <div>
        <h>{{ s.name }}</h>
    </div>

     <div>
        <p>{{ s.description }}</p>
     </div>

     <div>
        <button><a href="{{ s.link }}">Перейти на сайт</a></button>
     </div>

    {% endblock %}
    </body>
</html>