{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <title>Вопросы</title>
        <link rel="stylesheet" href="{% static 'study/testpage.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="height=device-height, initial-scale=1">
	</head>
    <body>

    {% block content %}
     <form>
        {% csrf_token %}
        <div>
            <button><a href="http://127.0.0.1:8000/main">На главную</a></button>
        </div>
     </form>
    <div>
        <h1>{{ q.question }}</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div>
            {% for aa in a %}
                {% if aa.answer == "Школа" %}
                    <p><input type="radio" required name="Вапросик" value="1">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "Колледж" %}
                    <p><input type="radio" required name="Вапросик" value="2">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "ВУЗ" %}
                    <p><input type="radio" required name="Вапросик" value="3">{{ aa.answer }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <p><button type="submit">Далее</button></p>
        </div>
    </form>
    {% endblock %}
	</body>
</html>