{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <title>Вопросы</title>
        <link rel="stylesheet" href="{% static 'study/testpage.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="height=device-height, initial-scale=1">
	</head>
    <body>

    {% block content %}
     <form>
        <div>
            <button><a href="http://127.0.0.1:8000/main">На главную</a></button>
        </div>
     </form>
    <div>
        <h1>{{ q.question }}</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div>
            {% for aa in a %}
                {% if aa.answer == "Русский язык" %}
                    <p><input type="checkbox" required name="Вапросик" value="1">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "Математика" %}
                    <p><input type="checkbox" required name="Вапросик" value="2">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "Информатика" %}
                    <p><input type="checkbox" required name="Вапросик" value="3">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "Физика" %}
                    <p><input type="checkbox" required name="Вапросик" value="4">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "Химия" %}
                    <p><input type="checkbox" required name="Вапросик" value="5">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "Биология" %}
                    <p><input type="checkbox" required name="Вапросик" value="6">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "Обществознание и ее ответвления" %}
                    <p><input type="checkbox" required name="Вапросик" value="7">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "История" %}
                    <p><input type="checkbox" required name="Вапросик" value="8">{{ aa.answer }}</p>
                {% endif %}
                {% if aa.answer == "Литература" %}
                    <p><input type="checkbox" required name="Вапросик" value="9">{{ aa.answer }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <p><button type="submit">Далее</button></p>
            <p><button name="Назад">Назад</button></p>
        </div>
    </form>
    {% endblock %}
	</body>
</html>