body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-image: url("https://media.tenor.com/images/01780dc572178cc063a76609e9dd1832/tenor.gif");
    font-size: 20px;
    margin-left: 150px;
    @media screen and (min-width: 240px) and (max-width: 2160px){     };
    @media screen and (min-height: 360px) and (max-height: 4096px){     };
}
h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 450px;
    @media screen and (min-width: 360px) and (max-width: 2160px){     };
    @media screen and (min-height: 360px) and (max-height: 4096px){     };
}
button{
    background: lightgrey;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-left: 0px;
    margin-left: 192px;
    margin-top: 100px;
    font-size: 225px;
    color: black;
    @media screen and (min-width: 360px) and (max-width: 2160px){     };
    @media screen and (min-height: 360px) and (max-height: 4096px){     };
}
p{
    font-size: 80px;
    color: crimson;
    margin-left: 350px;
    margin-top: 300px;
    @media screen and (min-width: 360px) and (max-width: 2160px){     };
    @media screen and (min-height: 360px) and (max-height: 4096px){     };
}
